<main container>
  <h3><%= @course.code.upcase %></h3>
  <h4><%= @course.name %></h4>
  <% unless current_user.lecturer? %>
    <div row>
      <div column="2">
        <%= form_for current_user.enrollments.build do |f| %>
          <%= f.hidden_field :course_id, value: @course.encode_course %>
          <% if current_user.enroll?(@course) %>
            <%= f.submit 'Enrolled', class: 'button button--sm', disabled: '' %>
          <% else %>
            <%= f.submit 'Enroll', class: 'button button--sm' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <h3>Course Updates and News</h3>
  <% @course.feeds.order(created_at: :desc).each do |feed| %>
    <p><%= local_time(feed.created_at) %> by <%= feed.lecturer.username %></p>
    <%= feed.content.html_safe %>
    <hr>
  <% end %>

  <% if allow?(:feeds, :new) %>
    <h4>Create New Feed</h4>
    <div row>
      <div column="6">
        <%= form_for [@course, current_user.feeds.build] do |f| %>
          <div class="fieldForm">
            <%= f.hidden_field :content %>
            <trix-editor input="feed_content"></trix-editor>
          </div>
          <%= f.submit 'Submit', class: 'button button--sm' %>
        <% end %>
      <% end %>
      </div>
    </div>
</main>
