<main container>
  <h3><%= @course.code.upcase %></h3>
  <h4><%= @course.name %></h4>
  <% unless current_user.lecturer? %>
    <div row>
      <div column="2">
        <%= form_for current_user.enrollments.build do |f| %>
          <%= hidden_field_tag :course_id, @course.id %>
          <% if current_user.enroll?(@course) %>
            <%= f.submit 'Enrolled', class: 'button button--sm', disabled: '' %>
          <% else %>
            <%= f.submit 'Enroll', class: 'button button--sm' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <h2>Course Updates and News</h2>
</main>
